* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
